[ticket]
# white balls
numbers = 6,13,19,34,41
# yellow ball
megaball = 23
# did you buy Megaplier? true or false
megaplier = true
# how many draws is the ticket good for?
draws = 10
# what is the purchase date of the ticket (YYYY-MM-DD)?
purchased = 2021-10-01

